.container-banner {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 4rem;
  text-align: center;
}

.container-card {
  margin: 24px 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}

@media(max-width: 1250px) {
  .container {
    max-width: 800px;
    margin: 30px auto;
  }
}

@media(max-width: 960px) {
  .container {
    max-width: 700px;
    margin: 30px auto;
  }

  .container-card {
    justify-content: center;
  }
}

@media(max-width: 720px) {
  .container {
    max-width: 500px;
    margin: 20px auto;
  }
}

@media(max-width: 540px) {
  .container {
    max-width: 300px;
    margin: 10px auto;
    padding-bottom: 12rem;
  }
}
